[submodule "deps/raylib"]
	path = deps/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "deps/raygui"]
	path = deps/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "deps/Chipmunk2D"]
	path = deps/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D.git
